<%-include("partials/header.ejs")%>

<body>
  <div><%-include("components/nav.ejs")%></div>
  <div class="Top-Container"><%-include("components/corosel.ejs")%></div>
  <%-include("partials/footer.ejs")%>
</body>
